@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
$primary_color: #007bff;

@mixin btn_small {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 10px 15px;
    margin: 10px;
}

@mixin btn_lg {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 20px 30px;
    margin: 10px;
    font-size: 20px;
}

.btn_primary_sm {
    @include btn_small;
    border-color: $primary_color;
    background-color: $primary_color;
}

.btn_primary_lg {
    @include btn_lg;
    border-color: $primary_color;
    background-color: $primary_color;
}

.btn_hover:hover {
    opacity: 90%;
    color: white;
    transform: scale(1.05);
}

.btn_border_radius {
    border-radius: 5px;
}

@mixin rainbow_btn {
    background-color: #fff;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    border: 1px solid gray;
    margin: 10px;
}

.rainbow_sm {
    @include rainbow_btn;
    padding: 10px 5px;
}

.rainbow_lg {
    @include rainbow_btn;
    padding: 20px 6px;
}

.rainbow-1:hover {
    border: none;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 2s linear infinite;
}

@mixin animated_btn {
    display: inline-block;
    background-color: #fff;
    margin: 0;
}

.animated_btn_sm {
    @include animated_btn;
    padding: 5px 20px;
}

.animated_btn_lg {
    @include animated_btn;
    padding: 15px 30px;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}